#!/usr/local/bin/php
<?php
$WebDir = "<%= @apachehome %>/htdocs/contacts/queryone";
unlink("$WebDir/index.html");
$myfile = fopen("$WebDir/index.html", "a") or die("Unable to open file!");
$txt = <<<EOF
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<style>
body {
  background-color: WhiteSmoke; {
}
</style>
<script>
function showUser(str) {
  if (str == "") {
    document.getElementById("txtHint").innerHTML = "";
    return;
  } else {
    if (window.XMLHttpRequest) {
      xmlhttp = new XMLHttpRequest();
    } else {
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("txtHint").innerHTML = this.responseText;
    }
  };
  xmlhttp.open("GET","getuser.php?q="+str,true);
  xmlhttp.send();
  }
}
</script>
</head>
<body>
<ul>
  <li><a></a></li>
</ul>
&nbsp;&nbsp;
<form>
<select name="users" onchange="showUser(this.value)">
<option value="">Select a person:</option>
EOF;
fwrite($myfile, $txt);
fclose($myfile);
$db = mysqli_connect('<%= @dbhost %>','<%= @admuser %>','<%= @admpass %>','<%= @dbschema %>')
or die('Error connecting to MySQL server.');
$query = "SELECT * FROM contacts";
 mysqli_query($db, $query) or die('Error querying database.');
 $result = mysqli_query($db, $query);
 $row = mysqli_fetch_array($result);
 while ($row = mysqli_fetch_array($result)) {
  $ID = $row['id'];
  $fname = $row['firstname'];
  $lname = $row['lastname'];
  $myfile = fopen("$WebDir/index.html", "a") or die("Unable to open file!");
  $txt = "<option value=\"$ID\">$fname $lname</option>"."\n";
  fwrite($myfile, $txt);
  fclose($myfile);
 }
 mysqli_close($db);
$myfile = fopen("$WebDir/index.html", "a") or die("Unable to open file!");
$txt = <<<EOF
</select>
</form>
<br>
<div id="txtHint"><b>Person info will be listed here...</b></div>
<table>
<form action="../index.php">
<tr><td><button>Back to Contacts Insert</button></td></tr>
</form>
</table>
</body>
</html>
EOF;
fwrite($myfile, $txt);
fclose($myfile);
?>
